{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 my-5" style="border: 1px  black; box-shadow: 10px 10px 18px rgba(167, 215, 243, 0.5); font-family: poppins, Arial, Helvetica, sans-serif; padding: 20px;">
            This project is a small web application built with Flask that allows users to register and log in.<br><br>The frontend uses Jinja templates to render HTML pages dynamically, while the backend uses SQLAlchemy to connect to a PostgreSQL database for storing user information securely. <br><br>It includes basic form validation, ensures unique usernames and emails, and demonstrates how a full-stack web application handles user authentication, database integration, and templated frontend pages.
        </div>
    </div>
</div>
{% endblock %}